.Jumbo {
    background-image: url(images/logo-home.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    display: flex;
    background-color: #212529;
    justify-content: center;
    margin: 0px auto;
    color: white;
}

.ImageCard {
    width: 180px;
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.text-card {
    text-align: justify;
    text-justify: inter-word;
}